.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |  Continue with Github
    button.social-login--google
        a(href=routes.google)
            span
                i.fab.fa-google
            |  Continue with Google
    button.social-login--kakaoTalk
        a(href=routes.kakao)
            span
                i.far.fa-comment-dots
            |  Continue with KakaoTalk